body{
	background: #2e3138;
	color: #FFF;
	font-family: 'asapbold', Arial;}

a{
	text-decoration: none;
	color: #FFF;}

@font-face {
    font-family: 'asapbold';
    src: url('fonts/asap-bold-webfont.eot');
    src: url('fonts/asap-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/asap-bold-webfont.woff') format('woff'),
         url('fonts/asap-bold-webfont.ttf') format('truetype'),
         url('fonts/asap-bold-webfont.svg#asapbold') format('svg');
    font-weight: normal;
    font-style: normal;}	

.default-block{
	border-radius: 3px;
	background: #444953;}

.default-rounded,
.default-rounded-child a{
	border-radius: 5px;}

/* Main menu */

#nav-head a{
	padding: 10px;}

#nav-head a:hover,
#nav-head a.active{
	background: #23252b;}

/* Buttons */

.btn{
	font-size: 16px;
	padding: 12px 40px;}

.btn-small{
	font-size: 14px;
	padding: 12px 20px;}

.btn-success{
	background: #8ab71b;}

.btn-default{
	background: #2aa1d3;}

.btn-error{
	background: #ee4e10;}

.btn-warning{
	background: #f0b017;}

.btn-dark{
	background: #525863;}

.btn-inactive{
	color: #444953;
	background: #23252b;}

/* Fields */

.default-field{
	color: #f8f6f3;
	background: #23252b;}

.default-field.spacer{
	padding: 7px 15px;}

.default-field:focus{
	padding: 5px 13px;
	border: 2px solid #2aa1d3 !important;}

.default-field.error{
	padding: 5px 13px;
	border: 2px solid #ee4e10;}

/* Default Menu */

.default-menu .opt{
	border-bottom: 1px solid #333841;
	padding: 20px;}

.default-menu .opt:hover,
.default-menu .opt.selected{
	background: #23252b;}

.default-menu .has-child .child{
	background: #23252b;
	border-top: 2px solid #8ab71b;}

.default-menu .has-child a{
	border-bottom: #1d1f24;}

.default-menu .has-child a:hover,
.default-menu .has-child a.selected{
	padding-left: 18px;
	border-left: 2px solid #2aa1d3;}